
.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px; 
    width: 250px;
    height: 250px;
}
  
  .property {
    margin-top: 15px;
  }
  
  